div div {
  background-color: lightblue;
  font-size: 100px;
  text-align: center;
  padding-bottom: 4px;
}

div#game {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;

  grid-auto-rows: 0px;
  grid-gap: 5px;
  justify-content: center;
}

button{
  display: block;
  
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

div#cross{
  display: none;
  position: relative;
 
  background-color: red;
 
}

